.App {
  text-align: center;
}

.interval-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-direction: row;
}

.interval-button-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  margin: 0 5px;
}

.interval-button {
  width: 100%;
}
